.restaurantFocus{
    margin-top:200px;
    padding: 0px 64px;
}
.restaurantFocus-cards{
    display: flex;
    justify-content: space-between;
}
.restaurantFocus-img{
    border-radius: 5px;
}
.restaurantFocus-cardDetail{
    text-align: center;
}
.restaurantFocus-cardDetail p{
    margin: 0;
}
.restaurantFocus-cardHeader{
    margin: 10px 0px 5px 0px;
}
@media(max-width: 1300px){
    .restaurantFocus-img{
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
}
@media(max-width: 1050px){
    .restaurantFocus-img{
        width: 250px;
        height: 150px;
    }
}
@media(max-width: 900px){
    .restaurantFocus-cards{
        flex-direction: column;
        gap: 30px;
    }
     .restaurantFocus-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width: 650px){
    .restaurantFocus{
        margin-top: 350px;
    }
   
}