.restaurantWeek{
    padding: 0px 64px;
    margin:100px 0px;
    display:flex;
    gap:20px;
    align-items: self-start;
}
.restaurantWeek-logo{
    background-image: linear-gradient(to right top, #dc2634, #d6502d, #cf6c2f, #c7833b, #c0964f);
    border-radius: 5px;
    width: 350px;
    padding: 10px 0px;
}
.restaurantWeek-header{
    color: var(--HeaderColor02);
    text-decoration: underline;
    margin:0;
}
.restaurantWeek-buttons{
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
}
.restaurantWeek-button{
    width: 215px;
    height: 50px;
    background-color: #2b2b2b;
    color:#ededed;
    display:flex;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.restaurantWeek-button:hover{
    background-color: #5c5c5c;
}
.restaurantWeek-downloadIcon{
    font-size: 50px;
    margin-right:10px;
}
.restaurantWeek-downloadLogo{
    width: 100px;
    margin: 0 -20px;
}
.restaurantWeek-BtnText{
    display:flex;
    flex-direction: column;
}
.restaurantWeek-Btnheader{
    font-size: 16px;
    font-weight: 500;
    margin:0;
}
.restaurantWeek-BtnSubheader{
    margin:0;
    font-size: 28px;
    font-weight: 400;

}
@media(max-width: 800px){
    .restaurantWeek{
        flex-direction: column;
    }
}
@media(max-width: 450px){
    .restaurantWeek-logo{
        width: 100%;
    }
}